name: Activity Graph
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  graph:
    runs-on: ubuntu-latest
    steps:
      - uses: Ashutosh00710/github-readme-activity-graph@v2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          username: YOUR_USERNAME
